import(ncdf4)
import(stats)
import(sp)
import(raster)
import(fields)
importFrom("utils", "str")
importFrom("utils", "write.table")
export(checkfile)
export(cmsaf.add)
export(box_mergetime)
export(cmsaf.div)
export(divdpm)
export(fldmax)
export(fldmean)
export(fldmin)
export(levbox_mergetime)
export(monmean)
export(monsum)
export(cmsaf.mul)
export(muldpm)
export(ncinfo)
export(seasmean)
export(sellonlatbox)
export(selmon)
export(selpoint)
export(selyear)
export(cmsaf.sub)
export(timmean)
export(wfldmean)
export(yearmean)
export(yearsum)
export(ymonmean)
export(yseasmean)
export(remapbil)
export(trend)
export(dayrange)
export(change_att)
export(seltime)
export(multimonmean)
export(multimonsum)
export(ymonsum)
export(selperiod)
export(year.anomaly)
export(mon.anomaly)
export(seas.anomaly)
export(extract.period)
export(get_time)
export(read_nc)
export(cmsaf.mulc)
export(cmsaf.addc)
export(cmsaf.divc)
export(cmsaf.subc)